@charset "UTF-8";
.wrap {
  display: flex;
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.contents {
  flex: 1;
  height: 100%;
  padding-left: 80px;
  overflow-y: auto;
}

.contents__inner {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100dvh;
  padding-top: 42px;
  padding-bottom: 80px;
  /* background-color: #fff; */
  border-right: 1px solid #E6E6E6;
}

.header__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__menu {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
}

.header__menu .link {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 28px;
  color: #202020;
}

.header__menu .new {
  padding-top: 32px;
  border-top: 1px solid #f2f2f2;
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
}

.header__profile {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.header__profile a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 28px;
  text-align: center;
  color: #202020;
}

.header__theme .theme__btn {
  font-size: 24px;
}

.btn__new {
  margin: 40px auto;
  max-width: 1024px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.btn__new a.link span {
  position: relative;
  padding-left: 42px;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
}

.btn__new a.link span:after {
  content: '';
  display: inline-block;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(./asset/images/icon/icon_new.svg) no-repeat center center / contain;
}

/* post navigation */
.post__navigation {
  max-width: 1024px;
  padding: 0 16px;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  margin-top: 28px;
  padding-bottom: 17px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
}

.post__navigation--active {
  color: #292929;
  font-weight: 400;
}

/* post list, post detail */
.post__list, .post__detail {
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
  padding: 0 16px;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__box:first-child {
  border-top: none;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.post__author-name,
.post__date {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: 600;
  margin: 14px 0px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__utils-box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  color: gray;
}

.post__category {
  color: gray;
  border: 1px solid lightgray;
  background-color: #f2f2f2;
  padding: 2px 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.post__delete,
.post__edit {
  cursor: pointer;
}

.post__delete:hover,
.post__delete:focus,
.post__edit:hover,
.post__edit:focus {
  color: black;
}

.post__no-post {
  padding: 24px;
  text-align: center;
  color: gray;
  margin-top: 24px;
}
/* post detail */
.post__detail .post__title {
  font-size: 36px;
  line-height: 40px;
}

.post__detail .post__utils-box {
  padding: 10px 0px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__text {
  padding: 20px 0;
}

.post__text--pre-wrap {
  /* 줄바꿈은 되지만 영역밖은 벗어나지않는다. */
  white-space: pre-wrap;
}

/* profile */
.profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1024px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
  margin-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.flex__box-lg {
  display: flex;
  gap: 18px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.profile__email {
  font-weight: 500;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__logout {
  color: gray;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.profile__logout:hover,
.profile__logout:focus {
  color: black;
}

/* carousel */
.carousel {
  width: 100%;
}

ul.carousel__slides {
  display: block;
  position: relative;
  height: 480px;
  overflow: hidden;
}

ul.carousel__slides * {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

ul.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  display: block;
}

.carousel__slide-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
  filter: brightness(0.7)
}

.carousel__slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 100px;
  z-index: 999;
  line-height: 400px;
  color: #fff;
}

.carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
  opacity: 0.5;
}

.carousel__controls label:hover {
  opacity: 1;
}

.carousel__controls .carousel__slide-prev {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__controls .carousel__slide-next {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .carousel__slide-container .carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.carousel__slide-container .carousel__controls label {
  display: block;
}

input#img-1:checked ~ .carousel__dots label#img-dot-1,
input#img-2:checked ~ .carousel__dots label#img-dot-2,
input#img-3:checked ~ .carousel__dots label#img-dot-3 {
  opacity: 1;
}

input:checked + .carousel__slide-container .nav label {
  display: block;
}

/* form */
.form {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
  margin-top: 20px;
}

.form input {
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 6px;
  max-width: 1024px;
}

.form textarea {
  width: 100%;
  min-height: 320px;
  padding: 10px 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 8px;
  line-height: 1.5;
  max-width: 1024px;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form .form__block label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.form .form__btn--submit {
  width: 100%;
  height: 56px;
  padding: 10px 10px;
  cursor: pointer;
  float: right;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  background-color: #202020;
  color: #fff;
}

.form .form__btn--submit:hover,
.form .form__btn--submit:focus {
  background-color: #000000;
}

/* login form */
.form--lg {
  margin-top: 10vh;
}

.form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 32px;
}

.form__link {
  margin-left: 10px;
  text-decoration: underline;
  color: gray;
}

.form__link:hover,
.form__link:active {
  color: black;
}

.form__error {
  font-size: 14px;
  color: red;
}

.form select {
  max-width: 240px;
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 5px solid #202020;
  border-radius: 50%;
  z-index: 9999;
  animation: rotation 1s linear infinite
}

/* dark mode */
.white {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  background-color: #fff;
}

.dark {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  background-color: #1e2937;
}

.dark header {
  border-right: 1px solid #202020;
}

.dark .header__menu .link {
  color: #f2f2f2;
}

.dark .header__menu .new {
  border-top: 1px solid #cdcdcd;
}

.dark .header__profile a { 
  color: #f2f2f2;
}

.dark .header__theme .theme__btn.dark {
  color: #f2f2f2;
}

.dark .btn__new a.link span { 
  color: #f2f2f2;
}

.dark .post__navigation {
  color: #a0a0a0;
  border-bottom: 1px solid #363636;
}

.dark .post__navigation--active {
  color: #f2f2f2;
}

.dark .post__box { 
  border-top: 1px solid #363636;
}

.dark .post__author-name,
.dark .post__date {
  color: #f2f2f2;
}

.dark .post__title,
.dark .post__text {
  color: #f2f2f2;
}

.dark .post__utils-box {
  color: #f2f2f2;
}

.dark .post__no-post {
  color: #f2f2f2;
}

.dark .profile__email {
  color: #f2f2f2;
}

.dark .profile__name {
  color: #f2f2f2;
}

.dark .profile__logout {
  color: #f2f2f2;
}

.dark .form .form__block label {
  color: #f2f2f2;
}

